@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
:root {
  font-family: "Jeju Hallasan", sans-serif;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 251, 240, 248;
  --background-end-rgb: 251, 240, 248;
}

body {
  font-family: "Jeju Hallasan", sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
